body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

/* First Page */
.start-scene {
    display: flex;
    flex-direction: column;
    background-image: url("Sk채rmbild\ \(127\).png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

p {
    background-color: white;
    padding: 30px;
    width: 60%;
    border-radius: 10px;

}

/* Second Page */

.secondScene {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-image: url(Sk채rmbild\ \(131\).png);
    background-size: cover;
    height: 100vh;
    background-position: center;
}

button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
}

/* Third Page */

.thirdScene {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-image: url(Sk채rmbild\ \(132\).png);
    background-size: cover;
    height: 100vh;
    background-position: center;
}

.thirdScene img {
    cursor: pointer;
}

.thirdScene img:hover {
    transform: scale(1.02);
    transition: 0.3s;
}

/* Fourth Page */

.fourthScene {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-image: url(Sk채rmbild\ \(133\).png);
    background-size: cover;
    height: 100vh;
    background-position: center;
}